<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.app.ayofit.mapper.LoginMapper">

	<select id="checkLogin" resultType="AccountDTO">
		select l_id, l_email, l_password, l_name, l_picture, l_type, l_info, a_age, a_gender, a_height, a_weight, a_activity
		from login, accounts
		where l_info = a_id
		and l_email = #{reqEmail}
		and l_password = #{reqPassword}
		and l_type = 'l_email'
	</select>

	<insert id="setUser">
		insert into login (l_id, l_email, l_password, l_name, l_type)
		values (#{uuid}, #{reqEmail}, #{reqPassword}, #{reqName}, 'email')
	</insert>

	<select id="checkGoogle" resultType="AccountDTO">
		select l_id, l_email, l_password, l_name, l_picture, l_type, l_info, a_age, a_gender, a_height, a_weight, a_activity
		from login, accounts
		where l_info = a_id
		and l_type = 'google'
		and l_password = #{reqId}
	</select>

	<insert id="setGoogle">
		insert into login (l_id, l_email, l_password, l_name, l_picture, l_type)
		values (#{uuid}, #{reqEmail}, #{reqId}, #{reqName}, #{reqPicture}, 'google')
	</insert>

</mapper>