<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.app.ayofit.mapper.LoginMapper">

	<select id="checkLogin" resultType="LoginDTO">
		select l_id as id, l_email as email, l_password as password, l_name as name, l_picture as picture, l_type as type, l_info as info
		from login
		where l_email = #{reqEmail}
		and l_password = #{reqPassword}
		and l_type = 'email'
	</select>

	<insert id="setUser">
		insert into login (l_id, l_email, l_password, l_name, l_type, l_info)
		values (#{uuid}, #{reqEmail}, #{reqPassword}, #{reqName}, 'email', 0)
	</insert>

	<select id="checkGoogle" resultType="LoginDTO">
		select l_id as id, l_email as email, l_password as password, l_name as name, l_picture as picture, l_type as type, l_info as info
		from login
		where l_type = 'google'
		and l_password = #{reqId}
	</select>

	<insert id="setGoogle">
		insert into login
		values (#{uuid}, #{reqEmail}, #{reqId}, #{reqName}, #{reqPicture}, 'google', 0)
	</insert>

</mapper>