<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.app.ayofit.mapper.MealMapper">

	<select id="getAllMeal" resultType="MealDTO">
		select * from record_meal
	</select>
	
	<select id="getMealByDate" resultType="MealDTO">
		SELECT * FROM record_meal WHERE TRUNC(r_meal_date) = TO_DATE('2023-08-31', 'YYYY-MM-DD')
	</select>
	
	<insert id="regMeal">
		insert into record_meal
		values (
			record_meal_seq.nextval,
			'user1',
			#{rFoodName},
			#{rMealType},
			TO_DATE(#{rMealDate}, 'YYYY-MM-DD HH24:MI:SS'),
			#{rCarbohydrate},
			#{rProtein}, 
			#{rFat}
		)
	</insert>
	
	<delete id="deleteMeal">
		delete record_meal where r_meal_type = #{rMealType} and r_meal_date = #{rMealDate}
	</delete>
	
</mapper>