<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.app.ayofit.mapper.MealMapper">

	<select id="getAllMeal" resultType="MealDTO">
		SELECT * FROM record_meal
	</select>
	
	<select id="getBreakfastByDate" resultType="NutritionDTO">
	    SELECT SUM(r_carbohydrate) as totalCarbohydrate, SUM(r_protein) as totalProtein, SUM(r_fat) as totalFat
	    FROM record_meal
	    WHERE r_id = #{userID} AND TRUNC(r_meal_date) = TO_DATE(#{date}, 'YYYY-MM-DD') AND r_meal_type = 'breakfast'
	</select>
	
	<select id="getLunchByDate" resultType="NutritionDTO">
	    SELECT SUM(r_carbohydrate) as totalCarbohydrate, SUM(r_protein) as totalProtein, SUM(r_fat) as totalFat
	    FROM record_meal
	    WHERE r_id = #{userID} AND TRUNC(r_meal_date) = TO_DATE(#{date}, 'YYYY-MM-DD') AND r_meal_type = 'lunch'
	</select>
	
	<select id="getDinnerByDate" resultType="NutritionDTO">
	    SELECT SUM(r_carbohydrate) as totalCarbohydrate, SUM(r_protein) as totalProtein, SUM(r_fat) as totalFat
	    FROM record_meal
	    WHERE r_id = #{userID} AND TRUNC(r_meal_date) = TO_DATE(#{date}, 'YYYY-MM-DD') AND r_meal_type = 'dinner'
	</select>
	
	<select id="getSnackByDate" resultType="NutritionDTO">
	    SELECT SUM(r_carbohydrate) as totalCarbohydrate, SUM(r_protein) as totalProtein, SUM(r_fat) as totalFat
	    FROM record_meal
	    WHERE r_id = #{userID} AND TRUNC(r_meal_date) = TO_DATE(#{date}, 'YYYY-MM-DD') AND r_meal_type = 'snack'
	</select>
	
	<insert id="regMeal"> 
		INSERT INTO record_meal
		VALUES (
			record_meal_seq.nextval,
			'user1',
			#{rFoodName},
			#{rMealType},
			TO_DATE(#{rMealDate}, 'YYYY-MM-DD HH24:MI:SS'),
			#{rCarbohydrate},
			#{rProtein}, 
			#{rFat}
		)
	</insert>
	
	<delete id="deleteMeal">
		DELETE record_meal WHERE r_meal_type = #{mealType} AND TRUNC(r_meal_date) = TO_DATE(#{mealDate}, 'DD/MM/YY')
	</delete>
	
</mapper>