<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.app.ayofit.mapper.MealMapper">

	<select id="getAllMeal" resultType="MealDTO">
		select * from record_meal
	</select>
	
	<insert id="regMeal">
		insert into record_meal (R_NO, R_ID, R_FOOD_NAME, R_MEAL_TYPE, R_MEAL_DATE, R_CARBOHYDRATE, R_PROTEIN, R_FAT)
		values (
			record_meal_seq.nextval,
			'user1',
			#{mealDTO.rFoodName},
			#{mealDTO.rMealType},
			to_date(#{mealDT.rMealDate}, 'yyyy-mm-dd hh24:mi:ss'),
			#{mealDTO.rCarbohydrate},
			#{mealDTO.rProtein}, 
			#{mealDTO.rFat}
		)
	</insert>
	
	<delete id="deleteMeal">
		delete record_meal where r_meal_type = #{rMealType} and r_meal_date = #{rMealDate}
	</delete>
	
</mapper>