<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.app.ayofit.mapper.NutritionMapper">
	
	<select id="getDailyNutrition" resultType="com.app.ayofit.model.NutritionInfo">
	    SELECT SUM(r_carbohydrate) as totalCarbohydrate, SUM(r_protein) as totalProtein, SUM(r_fat) as totalFat
	    FROM record_meal
	    WHERE r_id = #{userId} AND r_meal_date = #{date}
	</select>
	
    <select id="getWeeklyNutrition" resultType="com.app.ayofit.model.NutritionInfo">
        SELECT SUM(r_carbohydrate) as totalCarbohydrate, SUM(r_protein) as totalProtein, SUM(r_fat) as totalFat
        FROM record_meal
        WHERE r_id = #{userId} AND r_meal_date BETWEEN #{endDate} AND sysdate
    </select>

    <select id="getMonthlyNutrition" resultType="com.app.ayofit.model.NutritionInfo">
        SELECT SUM(r_carbohydrate) as totalCarbohydrate, SUM(r_protein) as totalProtein, SUM(r_fat) as totalFat
        FROM record_meal
        WHERE r_id = #{userId} AND r_meal_date BETWEEN #{month} AND sysdate
    </select>
    
</mapper>
